.git
airflow/.env
airflow/.DS_Store
airflow/airflow_settings.yaml
airflow/__pycache__/
airflow/astro
airflow/.venv
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/airflow.cfg
airflow/airflow.db
airflow/include/dbt/target
airflow/include/dbt/.user.yml
airflow/include/dbt/dbt_packages
airflow/include/gcp/service_account.json
iac/.terraform
iac/.terraform.lock.hcl
iac/key.json
iac/*.tfstate
iac/*.tfstate.backup
iac/.venv
